/* add css here */
body {
  margin: 0;
  display: flex;
  justify-content: center;
  background-color: lightgrey;
}

.form {
  margin: auto;
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

form {
  background-color: white;
  width: 50%;
  /* border-style: solid; */
  border-radius: 5px;
  /* border-width: 1px; */
  margin-top: 20px;
  box-shadow: 10px 17px 19px 11px rgba(161, 158, 161, 1);
}

h1 {
  text-align: center;
  font-size: 50px;
}

.userInfo {
  display: flex;
  width: 100%;
}

label {
  font-weight: 600;
  width: 40%;
  text-align: right;
  padding: 10px;
  padding-right: 10px;
}

input {
  border: solid;
  border-width: 1px;
  border-radius: 5px;
}

.termsOfService {
  background-color: lightgray;
  border-radius: 5px;
  text-align: center;
  padding: 15px;
  width: 80%;
  margin: auto;
  margin-top: 20px;
}

footer {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
  margin-bottom: 20px;
}

.ClearButton {
  background-color: red;
  border-radius: 5px;
  border: none;
  font-size: 15px;
  font-weight: bold;
  color: white;
  width: 100px;
  padding: 5px;
  margin-left: 5%;
}

.SubmitButton {
  background-color: purple;
  border-radius: 5px;
  border: none;
  font-size: 15px;
  font-weight: bold;
  color: white;
  width: 100px;
  padding: 5px;
  margin-right: 5%;
}

.error {
  background: red;
  border-radius: 5px;
  font-weight: bold;
  display: none;
  margin-top: 30px;
  text-align: center;
}

input.errorField {
  border-color: red;
  border-width: 2px;
}
